.idea/
anomaly-detection-teststand/

*/**/**/__pycache__
*/**/**/.ipynb_checkpoints
*/**/**/mlflow.db

**/artifacts/
**/.coverage
**/mlruns/

/mlflow.db
autotim/autotim_dataset
autotim/mlruns/
autotim/data/
autotim/gcloud-cicd-service-key.json
autotim/runner.py
autotim/"gs:

mydb.sqlite
/artifacts
data/

/test_prediction_files
/autotim/testing.py

.DS_Store

local-exec/.env/gcp-service.json


